body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Ændret fra 5px til 10px for en mere afrundet kant */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ændret skyggen til at være lidt større */
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Tilføjet margin-bottom for bedre afstand */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
textarea,
select,
input[type="date"] {
    margin-bottom: 15px; /* Øget margin-bottom for bedre afstand */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    transition: border-color 0.3s;
    font-size: 16px; /* Tilføjet font-size for ensartet skriftstørrelse */
}

input[type="text"]:focus,
textarea:focus,
select:focus,
input[type="date"]:focus {
    border-color: #007bff;
    outline: none; /* Fjernet default outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Tilføjet boks skygge ved fokus */
}

button, .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.btn-primary {
    background-color: #218838;
    color: #fff;
    margin-right: 10px;
    transition: background-color 0.3s; /* Tilføjet transition for baggrundsfarve */
}

button.btn-primary:hover {
    background-color: #218838;
}

a.btn {
    background-color: gray;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px; /* Tilføjet padding for ensartet størrelse med knapper */
    transition: background-color 0.3s; /* Tilføjet transition for baggrundsfarve */
}

a.btn:hover {
    background-color: darkgray;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group .btn,
    .button-group button {
        width: 100%;
        margin: 5px 0; /* Tilføjet margin for bedre afstand på små skærme */
    }
}
