/* edit_task.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #218838;
}

.btn-primary:hover {
    background-color: #218838;
}

.back-btn {
    margin-right: 10px;
}

a.btn.btn-secondary {
    background-color: grey; /* Grå farve */
}

a.btn.btn-secondary:hover {
    background-color: darkgrey; /* Mørkere grå ved hover */
}