.container {
    width: 80%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}
