body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.5) url('https://t3.ftcdn.net/jpg/02/81/97/02/240_F_281970265_KR6Ey4XF3miLYq0QDp3WsH0m35MR2tGC.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}



.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #5cb85c;
}

button[type="submit"] {
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

.btn-secondary {
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
