btn-register {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px; /* Tilføjet for at adskille knapperne */
}

btn-cancel {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}