body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: flex-end; /* Placerer logud-knappen til højre */
    margin-bottom: 20px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #0056b3;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.button-group {
    text-align: center;
    margin-bottom: 20px;
}

.button-group a.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.button-group a.add {
    background-color: #28a745;
    color: white;
}

.button-group a.add:hover {
    background-color: #218838;
}

button.edit {
    background-color: #FFD700; /* Gul farve */
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.edit:hover {
    background-color: #DAA520; /* Mørkere gul farve */
}

.delete {
    background-color: #FF0000; /* Rød farve */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete:hover {
    background-color: #B22222; /* Mørkere rød farve */
}
