/* Reset styles */
body, h2, label {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    width: 48%; /* Justeret bredde for to knapper */
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff; /* Blå farve for Opret knappen */
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d; /* Grå farve for Tilbage knappen */
    color: #fff;
}

.btn:hover {
    filter: brightness(110%);
}

.button-group {
    text-align: center; /* Centrer knapperne */
}

.registration-form {
    text-align: center; /* Centrer formen */
}
.back {
    background-color: #FF0000; /* Rød farve */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back:hover {
    background-color: #B22222; /* Mørkere rød farve */
}
