.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    padding: 10px;
    color: skyblue;
    font-weight: bold;
}

.project-details p {
    font-size: 1.2em;
    margin: 10px 0;
}

.project-details p strong {
    display: inline-block;
    width: 150px;
}

.button-group {
    text-align: center;
    margin-bottom: 20px;
}

.button-group .btn {
    padding: 10px 20px;
    background-color: skyblue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
}

.button-group .btn:hover {
    background-color: skyblue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: skyblue;
    color: #fff;
}

table tr:hover {
    background-color: #f1f1f1;
}

.edit {
    background-color: #ffc107; /* Gul farve */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.edit:hover {
    background-color: #e0a800; /* Mørkere gul ved hover */
}

.delete {
    background-color: #dc3545; /* Rød farve */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.delete:hover {
    background-color: #c82333; /* Mørkere rød ved hover */
}
a.btn.subproject {
    background-color: #28a745; /* Grøn farve */
}

a.btn.subproject:hover {
    background-color: #218838; /* Mørkere grøn ved hover */
}

