<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/confirm_delete.css">
</head>
<body>
<div class="container">
    <p>Er du sikker på at du vil slette denne opgave? Alle oplysninger vil gå tabt.</p>
    <form th:action="@{/deleteTask}" method="post">
        <input type="hidden" name="taskId" th:value="${taskId}">
        <input type="hidden" name="subprojectId" th:value="${subprojectId}">
        <button type="submit" class="btn delete">Slet</button>
    </form>
    <form th:action="@{/tasks/${subprojectId}|}" method="get">
        <a th:href="@{/tasks/{id}(id=${subprojectId})}" class="btn btn-secondary">Tilbage</a>
    </form>
</div>
</body>
</html>
