<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <link rel="stylesheet" href="/create_task.css">
</head>
<body>
<div class="container">
    <h1>Opret opgave</h1>

    <form th:action="@{/create_task}" th:object="${taskObject}" method="post">
        <input type="hidden" name="subProjectId" th:value="${subProjectId}">
        <div class="form-group">
            <label for="description">Beskrivelse:</label>
            <input type="text" id="description" required th:field="*{description}">
        </div>

        <label for="status">Status</label>
        <select class="form-control" id="status" th:field="*{status}" required>
            <option value="Afventer">Afventer</option>
            <option value="Påbegyndt">Påbegyndt</option>
            <option value="Fuldført">Fuldført</option>
        </select>
        <label for="Priority">Prioritet</label>
        <select class="form-control" id="Priority" th:field="*{status}" required>
            <option value="Lav">Lav</option>
            <option value="Middel">Middel</option>
            <option value="Høj">Høj</option>
        </select>
        <div class="form-group">
            <label for="estimatedTime">Estimeret timer (Timer):</label>
            <input type="number" id="estimatedTime"  required th:field="*{estimatedTime}">
        </div>
        <div class="form-group">
            <button type="submit">Opret opgave</button>
        </div>
    </form>
</div>
</body>
</html>
