<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <link rel="stylesheet" href="/create_task.css">
</head>
<body>
<div class="container">
    <h1>Opret opgave</h1>

    <form th:action="@{/create_task}" th:object="${taskObject}" method="post">
        <input type="hidden" th:field="*{subProject_Id}" th:value="${session.subProjectId}">
        <div class="form-group">
            <label for="description">Beskrivelse:</label>
            <input type="text" id="description" th:field="*{description}" required>
        </div>

        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" th:field="*{status}" required>
                <option value="Afventer">Afventer</option>
                <option value="Påbegyndt">Påbegyndt</option>
                <option value="Fuldført">Fuldført</option>
            </select>
        </div>

        <div class="form-group">
            <label for="priority">Prioritet</label>
            <select class="form-control" id="priority" th:field="*{priority}" required>
                <option value="Lav">Lav</option>
                <option value="Middel">Middel</option>
                <option value="Høj">Høj</option>
            </select>
        </div>

        <div class="form-group">
            <label for="estimatedTime">Estimeret tid (Timer):</label>
            <input type="number" id="estimatedTime" th:field="*{estimatedTime}" required>
        </div>

        <div class="form-group">
            <button type="submit">Opret opgave</button>
            <a th:href="@{/project/{projectId}(projectId=${session.currentProjectId})}" class="btn btn-primary">Tilbage</a>
        </div>
    </form>
</div>
</body>
</html>
