<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<div class="container mt-5">
    <img src="https://t3.ftcdn.net/jpg/02/81/97/02/240_F_281970265_KR6Ey4XF3miLYq0QDp3WsH0m35MR2tGC.jpg" alt="Registration Banner" style="max-width: 100%; height: auto; margin-bottom: 20px;">
    <h2>Logind</h2>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="username">Brugernavn</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Indtast navn" required>
        </div>
        <div class="form-group">
            <label for="password">Kodeord</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Indtast kodeord" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>

    <a href="/" class="btn btn-secondary">Tilbage</a>
</div>
</body>
</html>
