<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Solutions</title>
    <link rel="stylesheet" href="project_frontpage.css">
</head>
<body>
<div class="container">
    <h1>Dine projekter</h1>
    <nav class="navbar">
        <ul>
            <li class="logud-button">
                <a th:href="@{/logud}">Logud</a>
            </li>
        </ul>
    </nav>

    <div class="button-group">
        <a th:href="@{/create_project}" class="add btn">Opret projekt</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Projekt beskrivelse</th>
            <th>Status</th>
            <th>Start dato</th>
            <th>Slut dato</th>
            <th>Rediger</th>
            <th>Slet</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td><a th:href="@{/project/{id}(id=${project.id})}" th:text="${project.name}"></a></td>
            <td th:text="${project.description}"></td>
            <td th:text="${project.status}"></td>
            <td th:text="${project.startDate}"></td>
            <td th:text="${project.endDate}"></td>
            <td>
                <form th:action="@{/edit_project/{id}(id=${project.id})}" method="get">
                    <button class="edit" type="submit">Rediger</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/confirm_delete/' + ${project.id}}" method="get">
                    <button class="delete" type="submit">Slet</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
