<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt Frontpage</title>
    <link rel="stylesheet" href="project_frontpage.css">
</head>
<body>
<div class="container">
    <h1>Project Frontpage</h1>

    <!-- Knappen til at tilføje et nyt projekt -->
    <div class="button-group">
        <a th:href="@{/create_project}" class="add btn">Opret projekt</a>
    </div>

    <!-- Tabel til visning af projekter -->
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Rediger</th>
            <th>Slet</th>
        </tr>
        </thead>
        <tbody>
        <!-- Her kan du indsætte dynamisk genereret HTML for hver projekt -->
        <tr th:each="project : ${projects}">
            <td th:text="${project.name}"></td>
            <td th:text="${project.description}"></td>
            <td>
                <form th:action="@{/redigerproject}" method="post">
                    <input type="hidden" name="projectId" th:value="${project.id}">
                    <button class="edit" type="submit">Rediger</button>
                </form>
            </td>
            <td>
                <form th:action="@{deleteProject+'/{id}'}" method="post">
                    <input type="hidden" name="projectId" th:value="${project.id}">
                    <button class="delete" type="submit">Slet</button>
                </form>
            </td>
        </tr>
        <!-- Gentag dette mønster for hver projekt -->
        </tbody>
    </table>
</div>
</body>
</html>
