<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Solutions - Projekt Detaljer</title>
    <link rel="stylesheet" href="/project_details.css">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <ul>
            <li class="tilbage-button">
                <a href="/projects" class="btn btn-secondary">Tilbage til projekter</a>
            </li>
        </ul>
    </nav>

    <div class="project-details">
        <p><strong>Name:</strong> <span th:text="${project.name}"></span></p>
        <p><strong>Beskrivelse:</strong> <span th:text="${project.description}"></span></p>
        <p><strong>Status:</strong> <span th:text="${project.status}"></span></p>
        <p><strong>Start Dato:</strong> <span th:text="${project.startDate}"></span></p>
        <p><strong>Slut Dato:</strong> <span th:text="${project.endDate}"></span></p>
    </div>

    <div class="button-group">
        <a th:href="@{/create_subproject/{projectId}(projectId=${project.id})}" class="btn subproject">Opret Subprojekt</a>
        <a th:href="@{/create_task/{subProjectId}(subProjectId=${project.id})}" class="btn task">Opret opgave</a>
    </div>

    <h2>Subprojekter</h2>
    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Status</th>
            <th>Start dato</th>
            <th>Slut dato</th>
            <th>Rediger</th>
            <th>Slet</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subproject : ${subprojects}">
            <td th:text="${subproject.name}"></td>
            <td th:text="${subproject.description}"></td>
            <td th:text="${subproject.status}"></td>
            <td th:text="${subproject.startDate}"></td>
            <td th:text="${subproject.endDate}"></td>
            <td>
                <form th:action="@{/edit_subproject/{id}(id=${subproject.id})}" method="get">
                    <button class="edit" type="submit">Rediger</button>
                </form>
            </td>
            <td>
                <form th:action="@{/confirm_delete_subproject/{id}(id=${subproject.id})}" method="get">
                    <button type="submit" class="btn delete">Slet</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Opgaver</h2>
    <table>
        <thead>
        <tr>
            <th>Beskrivelse</th>
            <th>Status</th>
            <th>Prioritet</th>
            <th>Estimeret timer</th>
            <th>Rediger</th>
            <th>Slet</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.description}"></td>
            <td th:text="${task.status}"></td>
            <td th:text="${task.priority}"></td>
            <td th:text="${task.estimatedTime}"></td>
            <td>
                <form th:action="@{/edit_task/{id}(id=${task.id})}" method="get">
                    <button class="edit" type="submit">Rediger</button>
                </form>
            </td>
            <td>
                <form th:action="@{/confirm_delete_task/{id}(id=${task.id})}" method="get">
                    <button type="submit" class="btn delete">Slet</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
